* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
a {
    text-decoration: none;

    color: black;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    
}
.container {
    height: 100%;
}
.main {
    display: flex;

    height: 100vh; 
}
.main2 {
    display: flex;

    flex-direction: row;
}
/*   */
.side-bar {
    width: 190px;
    height: 100vh;
}
.side-menu {
    border: 1px solid #e4e4e4;
    height: 49px;

    font-size: 19px;

    background-color: #fafafa;
}
.side-menu2 {
    padding: 10px;
}
.all-choice {
    display: block;

    padding: 10px;

    height: 49px;
}
.head-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 30px;
    margin-bottom: 20px;

    width: 920px;
}
.search {
    border: 1px solid #e4e4e4;
    border-radius: 6px;
}
.input {
    border: none;
}
.search-btn{
    border: none;
}
.choice-menu {
    margin-left: 30px;

    width: 920px;
    
}
.list {
    margin-left: 30px;

    width: 920px;
    height: auto;

    border: 1px solid black;
}
.project-item{
    padding: 0px 15px;
}

.project-container{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;

    width: 252.5px;
}

.item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.citem-check{
    cursor: pointer;
}

.item-option-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;

    border-radius: 2px;
    width: 35px;
    height: 22px;

    cursor: pointer;
}

.item-option-btn:hover{
    border: 1px solid #ddd;
    background-color: #e6e6e6;
}

.item-option-btn .fa-solid{
    font-size: 11px;
    margin: 0px 1px;
}

.item-img-container{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 2px;
    width: 242.5px;
    height: 162.5px;

    cursor: pointer;

    /* overflow: hidden; */
}

.item-img-container img{
    width: 100%;
    height: 100%;
}

.item-content{
    padding: 9px;
}

.item-title{
    margin: 6px 0px 10px;
    font-size: 24px;
    color: #3498db;
}

.item-discription{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    height: 48px;
    
    font-size: 12px;
}

.project-time{
    margin-bottom: 5px;

    font-size: 12px;
    font-weight: 700;
}

.project-time .fa-clock{
    font-size: 12px;
}

.btn-test{
    padding: 1.8px 5.4px 2.7px;

    height: auto;
    line-height: 10px;

    background-color: #5cb85c;
    color: white;
    font-size: 10px;

    cursor: pointer;
}
